/tests/corpus_analyzer.log
/tests/.coverage
/output
/pdfs
tests/testOutput
/web-client/node_modules
/web-client/main.js
/web-client/search-ui.sublime-project
/web-client/search-ui.sublime-workspace
/documentation/build/doctrees
.idea
*.pyc
/pdfparser/text_def.log
/pdfparser/rec_def.log
/pdfparser/summarizer.log
/tests/testPDF/summarizer.log
/tests/testPDF/JT03365805.pdf
/tests/testPDF/JT03365818.pdf
/tests/testPDF/pdfs
